<app-navbar></app-navbar>

<div class="container mt-3">

	<div class="card mt-5">
		<div class="card-header">Bienvenido al Sistema de Verificación de Identidades (SEVID)</div>
		<div class="card-body">
			<h5>Las funcionalidades del sistema son:</h5>
			<ol>
				<li>Captura: Permite tomar una fotografía y guardarla en el dispositivo, así como visualizar una imagen en tiempo real.</li>
					<ul>
						<li>Tomar Fotografía</li>
						<li>Visualizar Imagen</li>
				  	</ul>
				<li>Genera: Permite generar datos a partir de una imagen pre-cargada en la sistema o bien, a través de una imagen que se envie desde la aplicación web.</li>
					<ul>
						<li>Seleccionar Archivo</li>
						<li>Enviar Imagen</li>
						<li>Utilizar Imagen Pre-Cargada</li>
				 	</ul>
				<li>Resultado: Permite visualizar los datos extraídos de la imagen e indicar su validez.</li>
					<ul>
						<li>Solicitar Datos</li>
				 	</ul>
			</ol>
		</div>
	</div>

</div>


